/*  하늘 : #abc5f6   파랑 : #0e4ea6 */

body{
    margin:0;
    font-family: 'ONE-Mobile-Regular';
    background-image: url(/src/image/bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

.navbar {
    font-family: 'ONE-Mobile-Title';
    position: sticky;
    top: 0px;
    display: flex;
    background-color: rgba(0, 0, 0, 0.7); 
    background: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 1) 10%,
        rgba(0, 0, 0, 0.8) 35%,
        rgba(0, 0, 0, 0.6) 60%,
        rgba(0, 0, 0, 0.4) 80%,
        rgba(0, 0, 0, 0.2) 100%,
     );
    align-items: center;
    grid-template-columns: 1fr 3fr;
}

.logo{
    text-decoration: none;
    color: #e1f2fd;
    float:left;
    font-size: 2.3em;
    width:15%;
    padding-left: 20px;
    font-weight: bold;
    text-shadow: 4px 4px 0px #0e4ea6;
}

.menu{
    display: flex;
    padding-left: 0px;
    justify-content: space-around;
    width:50%;
    font-size: 1em;
}

.list{
   list-style: none;
}

.list a{
    color: #e1f2fd;
    text-decoration: none;
}

.menu li {
   padding : 8px 12px;
}

.menu li:hover{
    color:red;
}

/*  .swiper {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
}

.swiper-slide {
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 300px;
}

.swiper-slide img {
    display: block;
    width: 100%;
}  */

@font-face {
    font-family: 'ONE-Mobile-Title';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/ONE-Mobile-Title.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ONE-Mobile-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/ONE-Mobile-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}